<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DNS MON</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
	<body>
		<section class="form-login">
			<center>
			<h2>DNS MONITOR (ADsBlocker) BY AC</h2>
			<h2>{{lines}}</h2>
			<h2>{{block}}</h2>
			
			<form action="/" method="GET">
			   <input class="buttons" type="submit" name="" value="Refresh">
			</form>
			
			</center>

			{% with messages = get_flashed_messages() %}
					{% if messages%}
					{% for message in messages %}
					<h3>{{ message }}</h3>
					{% endfor %}
					{% endif %}
					{% endwith %}
		</section>      
  </body>
</html>